<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <p><%= comment.content %></p>
        <% if current_user.id == comment.share.user.id %>
          <%= link_to "削除", share_comment_path(@share.id, comment.id), method: :delete, data: { confirm: '本当に編集していいですか？' } %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>