<%= form_with(model: @share, local: true) do |f| %>
  <div>
    <p><%= f.label :日本から自殺者を少しでも減らすにはどうしたら良いか考えよう%></p>
    <p><%= f.text_area :declaration %></p>
  </div>
    <p><%= f.submit "投稿" %></p>
  <% end %>