<h1>自殺がない社会</h1>
<div class="f-container">
<div class="f-item fuwatto_btn_yellow"><%= link_to "新規投稿", new_share_path %></div>
</div>
<% @shares.each do |share| %>
  <p>日本から自殺者を少しでも減らすにはどうしたら良いか: <%= share.declaration %></p>
  <%if share.user_id == current_user.id %>
    <%= link_to '詳細を確認する', share_path(share.id) %>
    <%= link_to "編集", edit_share_path(share.id) %>
  <% end %>
<% end %>



