
<h1>未来ノート</h1>
<h2><%= link_to "新規投稿", new_share_path %></h2>
<% @shares.each do |share| %>
  <p>自殺についての考察: <%= share.declaration %></p>
  <%= link_to '詳細を確認する', share_path(share.id) %>
  <%= link_to "編集", edit_share_path(share.id) %>
<% end %>



