<%= form_with(model: @share, local: true) do |f| %>
<%  notice %>

<div id="think">
  <%= f.label :自殺を許容する社会についてあなたが思うことを記入してください%></br>
  <%= f.text_area :declaration %>
</div>

<div class="bubbly-button", id="think">
  <%= f.submit "投稿" %>
</div>
<% end %>