<%= form_with(model: @share, local: true) do |f| %>
<%  notice %>
<div>
  <%= f.label :未来の自分に現在あなたが頑張っていることを伝えよう %>
  <%= f.text_field :declaration %>
</div>

<div class="bubbly-button">
<%= f.submit "投稿" %>
</div>
<% end %>