<%= form_with(model: @share, local: true) do |f| %>
<%  notice %>

<div id="think">
  <p><%= f.label :日本から自殺者を少しでも減らすにはどうしたら良いか考えよう%></p>
  <%= f.text_area :declaration %>
</div>

<div class="bubbly-button", id="think">
  <%= f.submit "投稿" %>
</div>
<% end %>