
<body>
<hreader>
  <div class="container">
  <div class="item"><a href="/moneis" class="btn login">お金/スキル</a></div>
  <div class="item"><a href="/families" class="btn login">家族/友達</a></div>
  <div class="item"><a href="/philosophies" class="btn login">哲学/道徳</a></div>
  </div>
</header >
<div id="site-content">


        
  <ul>
    <% @articles.each do |article| %>
      <P class="tako"><%= link_to article.title, article_path(article.id)  %></p></br>
      <%= link_to "削除", article_path(article.id), method: :delete  %></br>
    <% end %>
  </ul>

        <div class="contents">
        
        </div>

        <!--固定ボタン-->
        <a href="#top" class="topBtn" id="topBtn">TOP</a><!--/固定ボタン-->

    
    
    </div>
    <div id="site-footer"></div>
    
</body>
