<head>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
</head>
<nav class="menu">
  <ol>
    <li class="menu-item"><a href="/users/sign_up">新規登録</a></li>
    <li class="menu-item"><a href="/users">ユーザー一覧</a></li>
    <li class="menu-item">
      <a href="/articles">記事一覧</a>
      <ol class="sub-menu">
      </ol>
    </li>
    <li class="menu-item">
      <a href="/shares">新規投稿</a>
    </li>
  </ol>
</nav>

<body>

  <h1 class="tlt" data-in-effect="fadeInDown" data-in-shuffle="true">自殺をゼロにするために私たちに何ができるか考えてみませんか?</h1>
  <h2 class="tlt" data-in-effect="flipInY" data-in-shuffle="true">あなたの行動が世界を変える</h2>
    <%= breadcrumbs %>
    <%= yield %>
    <div id="site-footer">
    <h3></h3>
    <h3>このサイトについて</h3>
    <p class="ex">この世の中からいかに自殺をなくすかについて考えていくサイトです。</br>
    毎日が辛くていっそ死んだほうがマシと思っている人のために何かをしたいと昔から思っておりこのサイトを作成しました。</br>一人でも多くの人の助けになることを切に願っております</p>
    </div>
  </body>
