
<% breadcrumb :user, @user %>

<p class="midashi">フォロー数:<%= @user.following.count %></p>
<p class="midashi">フォロワー数:<%= @user.followers.count %></p>


<% @user.following.each do |a| %>
<p class="midashi">フォロー一覧:<%= a.name %></p>
<% end %>
<% @user.followers.each do |a| %>
<p class="midashi">フォロワー一覧: <%= a.name %></p>
<% end %>


