/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */


 /* ハンバーガーメニューの作り方 */
 /* https://saruwakakun.com/html-css/reference/nav-drawer */


 header {
  padding:10px;
  background: skyblue;
}

nav-drawer {
  position: relative;
} 

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
 #nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
} 

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #f0f8ff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}



















/* フォローボタン */
/* インスタクローンrika参考 */

 

.btn:active{
  position: relative;
  top: 5px;
  box-shadow: none;
}

.language-text {
  display: none;
}
#language-wrapper {
  margin: 160px 5px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.item {
  font-size: 20px;
  display: block;
  background-color: #eee;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #eee;
  padding: 1em;
}
.group {
  padding: 16px 24px;
  display: inline-block;
  border-radius: 100px;
  color:white;
  background-color: #AAFFFF	;
  cursor: pointer;
  margin-left: 210px;
}





/* 投稿ボタン */
/* https://lab.sonicmoov.com/markup/css/css-button/ */


$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

body{
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  background-color: $baby-blue;
}
.bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  /* display: inline-block; */
  font-size: 1em;
  padding: 1em 2em;
  /* margin-top: 100px;
  margin-bottom: 60px; */
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  /* position: relative; */
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  text-align: center;
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}








/* snsボタンcss */
/* http://weboook.blog22.fc2.com/blog-entry-397.html?sp */

#social-icon li{
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    padding: 0;
    color: #fff;
  } 
  #social-icon i {
    width: 50px;
    height: 50px;
    margin: 0;
    line-height: 50px;
    text-align: center;
  }
  #social-icon i:before { padding: 0; line-height: 50px; }
  #social-icon .fa-twitter { background: #00a1e9; }
  #social-icon .fa-facebook { background: #3b5998; }
  #social-icon .fa-google-plus { background: #c53727; }
  #social-icon .fa-rss { background: #ff8c00; }

  .god {
    background: #00a1e9;
    width: 50px;
    height: 100px;
    margin: 0;
    font-size: 20px;
    color: green;
    line-height: 50px;
    text-align: center;
  }
  .water {
    background: #c53727;
    width: 50px;
    height: 50px;
    margin: 0;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: green;
  }

  .fire {
    background: #3b5998;
    width: 50px;
    height: 50px;
    margin: 0;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: green;
  }







.transition10{transition:all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);}
.delay01{transition-delay: .1s;}
.delay02{transition-delay: .2s;}
.delay03{transition-delay: .3s;}
.delay04{transition-delay: .4s;}
.delay05{transition-delay: .5s;}
.delay06{transition-delay: .6s;}
.delay07{transition-delay: .7s;}
.delay08{transition-delay: .8s;}
.delay09{transition-delay: .9s;}
.delay10{transition-delay: 1s;}
.delay11{transition-delay: 1.1s;}


.fullnav{
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;    
}



.fullnav__nav{
  align-items: center;
  background: #fff;
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 0;
}
/*gnav*/
.gnav{
  margin: 0 auto;
  width: 40%;
}
.gnav__menu__item{
  margin:20px 0;
  opacity: 0;
  transform: translateY(100px);
}
.gnav a{
  color: #333;
  text-decoration: none;
}






.fullnav__cnt{
  align-items: center;
  background: #333;
  color: #fff;
  display: flex;
  height: 100%;
  left: 30%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.fullnav__cnt__inner{
  margin: 0 auto;
  width: 80%;
}
.fullnav__cnt__title{
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(100px);
}
.fullnav__cnt__menu{
  list-style: none;
}
.fullnav__cnt__menu__item{
  margin:20px 0;
  opacity: 0;
  transform: translateY(100px);
}
.fullnav__cnt__menu__item a{
  color: #fff;
}





.fullnav.on .fullnav__nav{
  opacity: 1;
  width: 30%;
}
/*on gnav*/
.fullnav.on .gnav li{
  opacity: 1;
  transform: translateY(0);   
}
/*on fullnav__cnt*/
.fullnav.on .fullnav__cnt{
  opacity: 1;
  width: 70%;
}
.fullnav.on .fullnav__cnt__title{
  opacity: 1;
  transform: translateY(0);
}
.fullnav.on .fullnav__cnt__menu__item{
  opacity: 1;
  transform: translateY(0);
}










@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uK.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
:root {
  --accent-:
  /* color: #45494E; */
  --gradient-color: #FBFBFB;
}
a:focus {
  outline: none;
  position: relative;
}
a:focus:after {
  width: 50px;
}
a:after {
  content: "";
  /* background: #FBFBFB; */
  position: absolute;
  bottom: 5px;
  left: 15px;
  height: 3px;
  width: 0;
  transition: 0.5s;
  transition-delay: 0.2s;
}
body {
  background: rgb(12, 212, 212);
  font-family: "Varela Round", Nunito, Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  /* text-transform: capitalize; */
}
.menu {
  margin: 15px;
}
.menu > ol {
  list-style: none;
  margin: 30px 0;
  padding: 0;
}
.menu > ol > li {
  background: #3c3c3c;
  border-left: 5px solid var(--gradient-color);
  margin-bottom: 1px;
  position: relative;
  transition: 0.5s;
}
.menu > ol > li:nth-child(1) {
  --accent-color: #FDA085;
  --gradient-color: #F6D365;
}
.menu > ol > li:nth-child(2) {
  --accent-color: #BFF098;
  --gradient-color: #6FD6FF;
}
.menu > ol > li:nth-child(3) {
  --accent-color: #EA8D8D;
  --gradient-color: #A890FE;
}
.menu > ol > li:nth-child(4) {
  --accent-color: #D8B5FF;
  --gradient-color: #1EAE98;
}
.menu > ol > li:nth-child(5) {
  --accent-color: #C6EA8D;
  --gradient-color: #FE90AF;
}
.menu > ol >li:nth-child(6) {
  --accent-color: rgb(141, 174, 234);
  --gradient-color: rgb(75, 175, 179);
}

.menu > ol > li a {
  color: #FBFBFB;
  display: block;
  padding: 15px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
.menu > ol > li a:not(:last-child):before {
  content: "\f078";
  font-family: fontAwesome;
  font-size: 0.75em;
  line-height: 50px;
  position: absolute;
  right: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.5s;
}
.menu > ol > li:focus,
.menu > ol > li:focus-within,
.menu > ol > li:hover {
  z-index: 100;
}
.menu > ol > li:focus:after,
.menu > ol > li:focus-within:after,
.menu > ol > li:hover:after {
  background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
  max-width: 800px;
}
.menu > ol > li:focus .sub-menu,
.menu > ol > li:focus-within .sub-menu {
  max-height: 500px;
}
.menu > ol > li:focus a:before,
.menu > ol > li:focus-within a:before {
  transform: rotate(-180deg);
}
.menu > ol > li:after {
  background: #3c3c3c;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  max-width: 0;
  overflow: hidden;
}
.menu > ol .sub-menu {
  border-left: 1px solid #FBFBFB;
  margin-left: 22.5px;
  list-style: none;
  max-height: 0px;
  overflow: hidden;
  padding-left: 7.5px;
  position: relative;
  transition: 0.5s;
  z-index: 1;
}
.menu > ol .sub-menu li {
  font-size: 0.9em;
}
.menu > ol .sub-menu li:hover,
.menu > ol .sub-menu li a:focus {
  background: rgba(60, 60, 60, 0.3);
}
.menu > ol .sub-menu li a:after {
  bottom: 5px;
  height: 1px;
}
.menu > ol .sub-menu li a:hover:after,
.menu > ol .sub-menu li a:focus:after {
  width: 15px;
}
@media (min-width: 600px) {
  a:focus,
  a:hover {
    position: relative;
  }
  a:focus:after,
  a:hover:after {
    width: 50px;
  }
  a:after {
    left: 0;
    right: 0;
    margin: auto;
  }
  .menu {
    margin: 0;
    /* margin-top: 40vh; */
  }
  .menu > ol {
    display: block;
    max-width: none;
    text-align: center;
  }
  .menu > ol > li {
    border-top: 5px solid var(--accent-color);
    border-left: 0;
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
    width: 120px;
  }
  .menu > ol > li:hover:after,
  .menu > ol > li:focus:after,
  .menu > ol > li:focus-within:after {
    background: linear-gradient(to bottom, var(--accent-color), var(--gradient-color));
    border-radius: 3px;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
  }
  .menu > ol > li:hover .sub-menu,
  .menu > ol > li:focus .sub-menu,
  .menu > ol > li:focus-within .sub-menu {
    max-height: 750px;
  }
  .menu > ol > li a:not(:last-child):before {
    right: 12.5px;
  }
  .menu > ol > li:hover a:before {
    transform: rotate(-180deg);
  }
  .menu > ol .sub-menu {
    border-left: 0;
    margin: 15px -15px -15px;
    padding-left: 0;
  }
}
@media (min-width: 775px) {
  .menu > ol > li {
    width: 150px;
  }
  .menu > ol > li a:not(:last-child):before {
    right: 25px;
  }
}
View Less Code

.a {
  color: red;
}

.a {
  text-align: center;
}

.field {
  text-align: center;
}

.actions {
  text-align: center;
}

#social-icon {
  text-align: center;
}




.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
} 














#site-content {
  min-height: 100%;
  min-height: 100vh;
  padding-top: 65px;
  position: relative;
  z-index: 1;

  -webkit-box-shadow: #000 0 7px 35px 0;
  -moz-box-shadow: #000 0 7px 35px 0;
  box-shadow: #000 0 7px 35px 0;

}

#site-footer {
  padding: 25px 0;
  font-size: 85%;
  background-color: #2A2A2A;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
}

/* NOT NEEDED, THIS IS JUST FOR THE PEN */
@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css);

html, body {
  padding: 0;
  margin: 0;
  background-color: #D1D1D1;
}
#site-content {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 
}

#site-footer {
  min-height: 15vw;
  /* DID THIS SO YOU CAN SEE IT AUTOMATICALLY SCALE - SIMULATION RESPONSIVENESS */
  /* RESIZE THE WINDOW AND THEN SCROLL VERITCALLY AGAIN */
  background-size: cover;
  background-position: center;
  background-color: rgb(43, 181, 190);
  /* background-image: url('/IMG_2812のコピー.jpg'); */
}


textarea {
  resize: none;
  width:60%;
  height:400px;
}

text_field {
  width:100%;
}

/* input[type="text"] {
  width: 500px;
  height: 40px;
} */

/* #think{
  text-align: center;
} */

div#think {
  text-align: center;
}





.f-container {
  display: flex;
  justify-content: center;
}


.fuwatto_btn_yellow{
  display: inline-block;
  background-color: #FFC605;
  color: #FFF;
  width: 160px;
  padding: 0.8em;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;
}
.fuwatto_btn_yellow:hover{
	 cursor: pointer;
	 text-decoration: none;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12), 0 3px 20px 0 rgba(0,0,0,0.12), 0 5px 6px -2px rgba(0,0,0,0.2);
}












#index {
  background: #eee;
    dt {
      background: #888;
      padding: 15px;
      font-weight: bold;
      color: #fff;
    }
    dd {
      margin: 0 10px;
      padding: 10px;
        &:not(:last-child) {
          border-bottom: 1px dotted #aaa;
        }
        &.lv_h2 {
          padding-left: 15px;
        }
        &.lv_h3 {
          padding-left: 20px;
        }
        &.lv_h4 {
          padding-left: 30px;
        }
        &.lv_h5 {
          padding-left: 35px;
        }
        &.lv_h6 {
          padding-left: 40px;
        }
        a {
          color: #333;
          text-decoration: none;
            &::before {
              content: "-";
              margin-right: 5px;
            }
        }
    }
}














.hidden_box {
  margin: 2em 0;/*前後の余白*/
  padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
  padding: 15px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}












button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}













/************************************
** トグル表示ボタン カスタマイズ
************************************/
.toggle-wrap .toggle-button {
  display: block;
  cursor: pointer;
  padding: 3px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 8px;
  }
  
  .toggle-wrap .toggle-button:hover {
  border-color: #999;
  background: #f5f5f5;
  }
  
  .toggle-wrap .toggle-button:after {
  content: "を表示"; /* 閉じている状態のときにラベルの後ろに続く文字 */
  }
  
  /*中身を非表示にしておく*/
  .toggle-wrap .toggle-content{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.6s;
  }
  
  /*チェックは見えなくする*/
  .toggle-wrap > input[type="checkbox"] {
  display: none;
  }
  
  .toggle-wrap > input[type="checkbox"]:checked ~ .toggle-button:after {
  content: "を非表示"; /* 開いている状態のときにラベルの後ろに続く文字 */
  }
  
  /*クリックで中身表示*/
  .toggle-wrap > input[type="checkbox"]:checked ~ .toggle-content {
  display: block;
  height: auto;
  opacity: 1;
  padding: 10px 0;
  }








  .tako{
    position: relative;
    display: inline-block;
    transition: .3s;
    color: blue;
  }
  
  .tako::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #31aae2;
    transition: .3s;
    transform: translateX(-50%);
  }
  
  .tako:hover::after{
    width: 100%;
  }


  .start {
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9000;
  }
  .start p {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
    width: 280px;
  }

  .spring {
    text-align: center;
    background: #00a1e9;
  }

  .summer {
    width: 1600px;
    height: auto;  
  }


  .text { 
    font-size: 20px; 
    word-break: keep-all;
  }

@media only screen and (max-width: 540px) {
  .text { font-size:32px }
}

#con{
  background-color: whitesmoke;
}

#tit {
  background-color: wheat;
}


.link3 {
  display: block;
  background-color: #eee;
  padding: 1em;
  font-size: 20px;
}




.tatu {
  color: #1AAB8A;
}

.iroha {
  color: violet;
}

.midashi {
  position: relative;
  padding: 0.3em 0.5em;
  background: -webkit-linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
  background: linear-gradient(to top, rgb(137, 184, 255), #c5ceff);
  color: #495193;
  height: 40px;
  font-size: 20px;
}

.remu {
  font-size: 20px;
}

.na {
  font-size: 20px;
}

.ed {
  font-size: 20px;
}















.simple_square_btn4 {
	display: block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
	border-radius: 30px;
	border:1px solid #1B1B1B;
	-webkit-backface-visibility: hidden; 
	-moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.simple_square_btn4:hover {
	 cursor: pointer;
	 text-decoration: none;
	-webkit-animation: simple_square_btn4 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: simple_square_btn4 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: simple_square_btn4 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes simple_square_btn4{
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}
@-moz-keyframes simple_square_btn4{
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}
@keyframes simple_square_btn4 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}



.info {
  background-color: #FDA085;
}


.ex {
  font-size: 25px;
}









body{
  background-color:#37363f;
}
h1, h2{
  text-align:center;
  font-weight:normal;
  font-family: 'Playfair Display', serif;
  font-size:68px;
  text-shadow:0 2px 2px black;
  color:white;
}

h2{
  font-size:38px;
  font-style:italic;
  text-shadow:0 2px 1px black;
  &:before, &:after{
    content:'-';
    padding:0 16px;
  }
}

p{
  color:silver;
  text-align:center;
}



  
  .out{
    position: relative;
    display: inline-block;
    transition: .3s;
    font-size: 20px;
    color: red;
    text-align: center;
  }
  
  .out::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    transition: .3s;
    transform: translateX(-50%);
  }
  
  .out:hover::after{
    width: 100%;
  }


  .box8 {
    padding: 0.2em 0.7em;
    margin: 0.6em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}


.er {
  color: red;
}

.search {
  color: pink;
}

.tou {
  background-color: #31aae2;
  text-align: center;
}

.favorite {
  background-color: aquamarine;
}


.errors {
  background-color: floralwhite;
}

.err {
  background-color: #00a1e9;
  color: red;
}




.nab{
  position: relative;
  display: inline-block;
  transition: .3s;
}

.nab::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #31aae2;
  transition: .3s;
  transform: translateX(-50%);
}

.nab:hover::after{
  width: 100%;
}


.top{
  position: relative;
  display: inline-block;
  transition: .3s;
}

.top::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #bc9ebd;
  transition: .3s;
  transform: translateX(-50%);
}

.top:hover::after{
  width: 100%;
}



.post{
  position: relative;
  display: inline-block;
  transition: .3s;
}

.post::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #00ff00;
  transition: .3s;
  transform: translateX(-50%);
}

.post:hover::after{
  width: 100%;
}







.posts{
  position: relative;
  display: inline-block;
  transition: .3s;
}

.posts::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #00ffff;
  transition: .3s;
  transform: translateX(-50%);
}

.posts:hover::after{
  width: 100%;
}

.article{
  position: relative;
  display: inline-block;
  transition: .3s;
}

.article::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #7b68ee;
  transition: .3s;
  transform: translateX(-50%);
}

.article:hover::after{
  width: 100%;
}








.user{
  position: relative;
  display: inline-block;
  transition: .3s;
}

.user::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #7fffd4;
  transition: .3s;
  transform: translateX(-50%);
}

.user:hover::after{
  width: 100%;
}











.fav{
  position: relative;
  display: inline-block;
  transition: .3s;
}

.fav::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #ee82ee;
  transition: .3s;
  transform: translateX(-50%);
}

.fav:hover::after{
  width: 100%;
}

.conte {
  background-color: #00ff00;
}

.reset {
  background-color: #e7f1f2;
}

.ren {
  text-align: center;
}






.mypage{
  position: relative;
  display: inline-block;
  transition: .3s;
  font-size: 20px;
  color: red;
  text-align: center;
}

.mypage::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  transition: .3s;
  transform: translateX(-50%);
}

.mypage:hover::after{
  width: 100%;
}


.box7 {
  padding: 0.2em 0.7em;
  margin: 0.6em 0;
  color: #232323;
  background: #e8faff;
  border-left: solid 10px #eee9f0;
}







