<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>



<% if Rails.env == "production" %>
  <p><%= link_to 'Confirm my account', "https://safe-headland-35363.herokuapp.com/users/confirmation?confirmation_token=#{@token}" %></p>
<% end %>