# <div class="toggle-wrap">
#   <input type="checkbox" id="toggle-checkbox">
#   <label class="toggle-button" for="toggle-checkbox">目次</label>
#   <div class="toggle-content">
#     <h1 id="index">目次</h1>
#     <ul>
#       <li><a href="#1">1章 :人生</a></li>
#       <li><a href="#2">2章 :人生</a></li>
#       <li><a href="#3">3章 :人生</a></li>
#       <li><a href="#4">4章 :人生</a></li>
#   </ul>
#   </div>
#   </div>
<h3 id="2">内容:<%= @money.body %></h3>